$border-color: #2b3553;

.rbc-btn {
  color: inherit;
  font: inherit;
  margin: 0
}

button.rbc-btn {
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer
}

button[disabled].rbc-btn {
  cursor: not-allowed
}

button.rbc-input::-moz-focus-inner {
  border: 0;
  padding: 0
}

.rbc-calendar {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch
}

.rbc-calendar *,
.rbc-calendar :after,
.rbc-calendar :before {
  box-sizing: inherit
}

.rbc-abs-full,
.rbc-row-bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0
}

.rbc-ellipsis,
.rbc-event-label,
.rbc-row-segment .rbc-event-content,
.rbc-show-more {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.rbc-rtl {
  direction: rtl
}

.rbc-off-range {
  color: #333;
  opacity: .8
}

.rbc-header,
.rbc-header > a,
.rbc-header > a:active,
.rbc-header > a:hover,
.rbc-header > a:visited,
.rbc-time-gutter.rbc-time-column {
  border-bottom: 1px solid $border-color;
  overflow: hidden;
  flex: 1 0;
  text-overflow: ellipsis;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
  color: hsla(0, 0%, 100%, .4);
  box-sizing: initial;
  text-align: right;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none
}

.rbc-header + .rbc-header {
  border: none;
}

.rbc-header:last-child span,
.rbc-header > a:active:last-child span,
.rbc-header > a:hover:last-child span,
.rbc-header > a:last-child span,
.rbc-header > a:visited:last-child span,
.rbc-time-gutter.rbc-time-column:last-child span {
  padding-right: 15px
}

.rbc-header .rbc-time-slot,
.rbc-header > a .rbc-time-slot,
.rbc-header > a:active .rbc-time-slot,
.rbc-header > a:hover .rbc-time-slot,
.rbc-header > a:visited .rbc-time-slot,
.rbc-time-gutter.rbc-time-column .rbc-time-slot {
  font-weight: 400
}

.rbc-row-content {
  position: relative;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  z-index: 4;
  min-height: 173px
}

.rbc-toolbar {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  font-size: 16px
}

.rbc-toolbar .rbc-toolbar-label {
  flex-grow: 1;
  padding: 0 10px;
  text-align: center;
  margin: 0;
  font-size: 1.8em;
  color: hsla(0, 0%, 100%, .8);
  font-weight: 400;
  font-family: inherit;
  line-height: 1.2
}

.rbc-toolbar button {
  font-weight: 400;
  font-size: .75rem;
  line-height: 1.35em;
  border: none;
  margin: 10px 1px;
  border-radius: .2857rem;
  padding: 8px 20px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  outline: none;
  text-transform: lowercase;
  background: theme-color('primary');
  background-image: linear-gradient(to bottom left, theme-color('primary'), #3358f4, theme-color('primary'));
  background-size: 210% 210%;
  background-position: 100% 0;
  background-color: theme-color('primary');
  transition: all .15s ease;
  box-shadow: none;
  color: #fff
}

.rbc-toolbar button::-moz-focus-inner {
  border: 0
}

.rbc-toolbar button.animation-on-hover:hover {
  background-position: 0 100%;
  transition: .3s ease-in-out
}

.rbc-toolbar button.active,
.rbc-toolbar button.active:focus,
.rbc-toolbar button.active:hover,
.rbc-toolbar button.rbc-active,
.rbc-toolbar button.rbc-active:focus,
.rbc-toolbar button.rbc-active:hover,
.rbc-toolbar button:active,
.rbc-toolbar button:active:focus,
.rbc-toolbar button:active:hover,
.rbc-toolbar button:focus,
.rbc-toolbar button:hover {
  background-color: #3358f4 !important;
  background-image: linear-gradient(to bottom left, theme-color('primary'), #3358f4, theme-color('primary')) !important;
  background-image: -moz-linear-gradient(to bottom left, theme-color('primary'), #3358f4, theme-color('primary')) !important;
  color: #fff;
  box-shadow: none
}

.rbc-toolbar button:active {
  box-shadow: none !important;
  transform: translateY(1px) !important;
  transition: all .15s ease
}

.rbc-toolbar button:not([data-action]):hover {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px)
}

.rbc-toolbar button.disabled,
.rbc-toolbar button.disabled.active,
.rbc-toolbar button.disabled.focus,
.rbc-toolbar button.disabled:active,
.rbc-toolbar button.disabled:focus,
.rbc-toolbar button.disabled:hover,
.rbc-toolbar button:disabled,
.rbc-toolbar button:disabled.active,
.rbc-toolbar button:disabled.focus,
.rbc-toolbar button:disabled:active,
.rbc-toolbar button:disabled:focus,
.rbc-toolbar button:disabled:hover,
.rbc-toolbar button[disabled],
.rbc-toolbar button[disabled].active,
.rbc-toolbar button[disabled].focus,
.rbc-toolbar button[disabled]:active,
.rbc-toolbar button[disabled]:focus,
.rbc-toolbar button[disabled]:hover,
fieldset[disabled] .rbc-toolbar button,
fieldset[disabled] .rbc-toolbar button.active,
fieldset[disabled] .rbc-toolbar button.focus,
fieldset[disabled] .rbc-toolbar button:active,
fieldset[disabled] .rbc-toolbar button:focus,
fieldset[disabled] .rbc-toolbar button:hover {
  background-color: theme-color('primary');
  border-color: theme-color('primary')
}

.rbc-toolbar button.btn-simple {
  color: theme-color('primary');
  border-color: theme-color('primary');
  background: transparent
}

.rbc-toolbar button.btn-simple:active,
.rbc-toolbar button.btn-simple:focus,
.rbc-toolbar button.btn-simple:hover,
.rbc-toolbar button.btn-simple:not(:disabled):not(.disabled):active {
  color: theme-color('primary');
  border-color: theme-color('primary');
  background-color: transparent !important;
  background-image: none !important;
  box-shadow: none
}

.rbc-toolbar button.btn-simple.active {
  border-color: theme-color('primary') !important
}

.rbc-toolbar button.btn-simple.active:active,
.rbc-toolbar button.btn-simple.active:focus,
.rbc-toolbar button.btn-simple.active:hover,
.rbc-toolbar button.btn-simple.active:not(:disabled):not(.disabled):active {
  color: #fff;
  border-color: theme-color('primary');
  background-image: linear-gradient(to bottom left, theme-color('primary'), #3358f4, theme-color('primary')) !important;
  background-image: -moz-linear-gradient(to bottom left, theme-color('primary'), #3358f4, theme-color('primary')) !important;
  background-color: #3358f4 !important;
  box-shadow: none
}

.rbc-toolbar button.btn-link {
  color: theme-color('primary')
}

.rbc-toolbar button.btn-link:active,
.rbc-toolbar button.btn-link:focus,
.rbc-toolbar button.btn-link:hover {
  background-color: transparent !important;
  background-image: none !important;
  color: #fff !important;
  text-decoration: none;
  box-shadow: none
}

.rbc-toolbar button:focus {
  outline: none
}

.rbc-btn-group {
  display: inline-block
}

.rbc-btn-group:last-child button:not(.rbc-active):not(:hover) {
  opacity: .5
}

.rbc-btn-group button {
  margin: 0 0 0 2px
}

@media screen and (max-width: 526px) {
  .rbc-btn-group button {
    margin: 2px !important
  }
}

.rbc-btn-group button + button {
  margin: 0 0 0 2px
}

.rbc-btn-group + .rbc-btn-group,
.rbc-btn-group + button {
  margin-left: 10px
}

.rbc-slot-selecting .rbc-event {
  cursor: inherit;
  pointer-events: none
}

.rbc-event.rbc-selected {
  background-color: #265985
}

.rbc-event-label {
  font-size: 80%
}

.rbc-event-overlaps {
  box-shadow: -1px 1px 5px 0 rgba(51, 51, 51, .5)
}

.rbc-event-continues-prior {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}

.rbc-event-continues-after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}

.rbc-event-continues-earlier {
  border-top-left-radius: 0;
  border-top-right-radius: 0
}

.rbc-event-continues-day-after,
.rbc-event-continues-later {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0
}

.rbc-event-continues-day-prior {
  border-top-left-radius: 0;
  border-top-right-radius: 0
}

.rbc-row {
  display: flex;
  flex-direction: row
}

.rbc-row-segment {
  padding: 2px 6px 1px
}

.rbc-selected-cell {
  background-color: rgba(0, 0, 0, .1)
}

.rbc-show-more {
  background-color: transparent !important;
  z-index: 4;
  font-weight: 700;
  font-size: 85%;
  height: auto;
  line-height: normal;
  white-space: nowrap
}

.rbc-month-view {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  width: 100%;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  height: 100%;
  border-left: none;
  border-right: none;
  border-top: none
}

.rbc-month-header {
  display: flex;
  flex-direction: row
}

.rbc-month-row {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 0;
  -ms-flex-preferred-size: 0px;
  overflow: hidden;
  height: 100%;
  padding: 0;
  vertical-align: top;
  border: 1px solid $border-color;
  border-bottom: 0;
  border-right: 0;
  border-left: 0
}

.rbc-month-row + .rbc-month-row {
  border-top: 1px solid $border-color;
}

.rbc-date-cell {
  flex: 1 1;
  min-width: 0;
  padding-right: 3px;
  padding-top: 1px;
  text-align: right
}

.rbc-date-cell.rbc-now {
  font-weight: 700
}

.rbc-date-cell > a,
.rbc-date-cell > a:active,
.rbc-date-cell > a:visited {
  color: #fff;
  text-decoration: none
}

.rbc-row-bg {
  display: flex;
  flex-direction: row;
  flex: 1 0;
  overflow: hidden
}

.rbc-day-bg {
  flex: 1 0
}

.rbc-day-bg + .rbc-day-bg {
  border-left: 1px solid $border-color;
}

.rbc-rtl .rbc-day-bg + .rbc-day-bg {
  border-left-width: 0;
  border-right: 1px solid $border-color;
}

.rbc-overlay {
  position: absolute;
  z-index: 5;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .25);
  padding: 10px
}

.rbc-overlay > * + * {
  margin-top: 1px
}

.rbc-overlay-header {
  border-bottom: 1px solid #e5e5e5;
  margin: -10px -10px 5px;
  padding: 2px 10px
}

.rbc-agenda-view {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  overflow: auto
}

.rbc-agenda-view table.rbc-agenda-table {
  width: 100%;
  border: 1px solid $border-color;
  border-spacing: 0;
  border-collapse: collapse
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr > td {
  padding: 5px 10px;
  vertical-align: top
}

.rbc-agenda-view table.rbc-agenda-table .rbc-agenda-time-cell {
  padding-left: 15px;
  padding-right: 15px;
  text-transform: lowercase
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
  border-left: 1px solid $border-color;
}

.rbc-rtl .rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
  border-left-width: 0;
  border-right: 1px solid $border-color;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr + tr {
  border-top: 1px solid $border-color;
}

.rbc-agenda-view table.rbc-agenda-table thead > tr > th {
  padding: 3px 5px;
  text-align: left;
  border-bottom: 1px solid $border-color;
}

.rbc-rtl .rbc-agenda-view table.rbc-agenda-table thead > tr > th {
  text-align: right
}

.rbc-agenda-time-cell {
  text-transform: lowercase;
  color: hsla(0, 0%, 100%, .6)
}

.rbc-agenda-time-cell .rbc-continues-after:after {
  content: " »"
}

.rbc-agenda-time-cell .rbc-continues-prior:before {
  content: "« "
}

.rbc-agenda-date-cell {
  color: hsla(0, 0%, 100%, .8)
}

.rbc-agenda-date-cell,
.rbc-agenda-time-cell {
  white-space: nowrap
}

.rbc-agenda-event-cell {
  width: 100%;
  color: hsla(0, 0%, 100%, .8)
}

.rbc-time-column {
  display: flex;
  flex-direction: column;
  min-height: 100%
}

.rbc-time-column .rbc-timeslot-group {
  flex: 1 1;
  box-sizing: border-box
}

.rbc-timeslot-group {
  border-bottom: 1px solid $border-color;
  min-height: 40px;
  display: flex;
  flex-flow: column nowrap
}

.rbc-header-gutter,
.rbc-time-gutter {
  flex: none
}

.rbc-label {
  padding: 0 5px
}

.rbc-day-slot {
  position: relative
}

.rbc-day-slot .rbc-events-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 10px;
  top: 0
}

.rbc-day-slot .rbc-events-container.rbc-is-rtl {
  left: 10px;
  right: 0
}

.rbc-day-slot .rbc-event {
  display: flex;
  max-height: 100%;
  min-height: 20px;
  height: auto !important;
  flex-flow: column wrap;
  align-items: flex-start;
  overflow: hidden;
  position: absolute
}

.rbc-day-slot .rbc-event-label {
  flex: none;
  padding-right: 5px;
  width: auto;
  font-weight: 700;
  box-sizing: initial;
  color: #fff;
  white-space: nowrap;
  text-align: end
}

.rbc-day-slot .rbc-event-content {
  width: 100%;
  flex: 1 1;
  word-wrap: break-word;
  line-height: 1;
  height: 100%;
  min-height: 1em
}

.rbc-day-slot .rbc-time-slot, .rbc-day-slot .rbc-time-slot + .rbc-time-slot {
  border-top: 1px dotted $border-color;
}

.rbc-time-slot {
  flex: 1 0
}

.rbc-time-slot.rbc-now {
  font-weight: 700
}

.rbc-day-header {
  text-align: center
}

.rbc-slot-selection {
  z-index: 10;
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  font-size: 75%;
  width: 100%;
  padding: 3px
}

.rbc-slot-selecting {
  cursor: move
}

.rbc-time-view {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  width: 100%;
  min-height: 0;
  border-left: none;
  border-right: none;
  border-top: none
}

.rbc-time-view .rbc-time-gutter {
  white-space: nowrap
}

.rbc-time-view .rbc-allday-cell {
  box-sizing: initial;
  width: 100%;
  position: relative
}

.rbc-time-view .rbc-allday-events {
  position: relative;
  z-index: 4
}

.rbc-time-view .rbc-row {
  box-sizing: border-box;
  min-height: 20px
}

.rbc-time-header {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row
}

.rbc-time-header.rbc-overflowing {
  border-right: 1px solid $border-color;
}

.rbc-rtl .rbc-time-header.rbc-overflowing {
  border-right-width: 0;
  border-left: 1px solid $border-color;
}

.rbc-time-header > .rbc-row.rbc-row-resource,
.rbc-time-header > .rbc-row:first-child {
  border-bottom: 1px solid $border-color;
}

.rbc-time-header-content {
  flex: 1 1;
  min-width: 0;
  flex-direction: column;
  border-left: 1px solid $border-color;
}

.rbc-rtl .rbc-time-header-content {
  border-left-width: 0;
  border-right: 1px solid $border-color;
}

.rbc-time-content {
  display: flex;
  flex: 1 0;
  align-items: flex-start;
  width: 100%;
  border-top: 3px solid #344675;
  overflow-y: auto;
  position: relative
}

.rbc-time-content > .rbc-time-gutter {
  flex: none
}

.rbc-time-content > * + * > * {
  border-left: 1px solid $border-color;
}

.rbc-rtl .rbc-time-content > * + * > * {
  border-left-width: 0;
  border-right: 1px solid $border-color;
}

.rbc-time-content > .rbc-day-slot {
  width: 100%;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none
}

.rbc-current-time-indicator {
  position: absolute;
  z-index: 3;
  height: 1px;
  background-color: #74ad31;
  pointer-events: none
}

.rbc-event {
  width: 100%;
  position: relative;
  display: block;
  font-size: .85em;
  border-radius: 2px;
  background-color: #344675;
  font-weight: 400;
  text-align: left;
  line-height: 1.2;
  border: none !important;
  padding: 5px 0;
}

.rbc-day-slot .rbc-event, .rbc-day-slot .rbc-background-event {
  border: none !important;
}

.rbc-event.event-azure {
  background-color: theme-color('info')
}

.rbc-event.event-green {
  background-color: theme-color('succees')
}

.rbc-event.event-orange {
  background-color: theme-color('warning')
}

.rbc-event.event-red {
  background-color: theme-color('danger');
}

.rbc-event .rbc-event-content {
  position: relative;
  z-index: 2;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
  padding: 0 5px;
  text-align: right
}

.rbc-day-slot .rbc-event {
  display: block !important;
  max-height: unset !important
}

.rbc-today {
  background-color: #252e49
}

@media screen and (max-width: 1373px) {
  .rbc-toolbar {
    display: block
  }
  .rbc-toolbar .rbc-btn-group {
    display: block;
    text-align: center
  }
  .rbc-toolbar .rbc-toolbar-label {
    display: block;
    flex-grow: unset;
    padding: 0
  }
}

.rbc-row.rbc-time-header-cell {
  border-bottom: 1px solid $border-color;
}

.rbc-time-view .rbc-row-content {
  min-height: unset
}

.perfect-scrollbar-on .rbc-calendar .rbc-row-content {
  min-height: 115px
}

@media (max-width: 767.98px) {
  .rbc-calendar .rbc-row-content {
    min-height: 45px
  }
}

@media (max-width: 991.98px) {
  .rbc-calendar .rbc-row-content {
    min-height: 90px
  }
}
