.w-25px {
  width: 25px;
}

.w-30px {
  width: 30px;
}

.w-50px {
  width: 50px;
}

.w-100px {
  width: 100px;
}

.w-130px {
  width: 130px;
}

.w-150px {
  width: 150px;
}

.w-200px {
  width: 200px;
}
