.card-expense-categories {
  .breadcrumb {
    &-item {
      &.active {
        color: $text-muted;
      }

      &:not(.active) {
        cursor: pointer;
        color: $primary-states;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  .progress {
    height: 0.1rem;
  }

  &__list {
    overflow-x: auto;
    max-height: 575px;

    &-item {
      overflow: hidden;
      transition: all 0.2s linear 0s;

      &-actions {
        transition: all 0.2s linear 0s;
        position: relative;
        right: -60px;
      }

      &:hover .card-expense-categories__list-item-actions {
        right: 0;
      }
    }
  }
}

.wrapper:not(.white-content) .card-expense-categories {
  a {
    color: rgba(255, 255, 255, 0.7) !important;

    &:hover {
      color: rgba(255, 255, 255, 0.6) !important;
    }
  }
}
